%img(src="http://f.cl.ly/items/1D460J332j3t453g1x1S/street.jpg")

%div.title
  %h1
    Pappa Keeffe
  %blockquote
    "Dad Pants" EP


/ 
/ #header
/   .link
/     %a{:href=>"http://www.apple.com"}
/       WTF
/ 
/ #content
/   .button24l
/     %a{:href=>"http://www.apple.com"}
/       HELLO WORLD
/     
